/* You can add global styles to this file, and also import other style files */

#number{
  width: 50px;
}

#entete{
  color: darkslategrey;
  font-weight: bold;
  background-color: limegreen;
  border-radius: 10px;
}
